
.ant-menu-item-selected {
  background-color: #FFB800 !important;
  color: #FFFFFF !important;
  font-size: 26px !important;
  width: 255px !important;

}

.ant-menu-inline .ant-menu-item::after {
  border-right: none !important;
}

.ant-menu-item, .ant-menu-submenu-title {
  color: #000000;
  font-size: 26px !important;
  width: 255px !important;
  height: 56px !important;
  margin: 6px 0 6px 33px !important;
}


.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #ffffff;
}

.ant-menu-item .ant-menu-item-icon {
  font-size: 18px !important;
}

.ant-menu-sub.ant-menu-inline {
  background: #E5E5E5;
}

.ant-menu-item-selected .ant-menu-item-icon {
  filter: invert(100%)
}


/*  Main */

main {
  padding: 0px !important;
}

/* ----- table ------ */

.ant-table table {
  font-size: 16px
}

.ant-pagination-item-active a {
  color: #FF993C;
}

.ant-pagination-item-active {
  border-color: #FF993C;
}

.ant-table-pagination.ant-pagination {
  margin: 50px 0;
}

td button .ant-btn-text span {
  margin-left: 3px;
}